<% layout('layout/boilerplate.ejs') %>

    <div class="row">
        <div class="col-xl-8 offset-xl-2">

            <h1 class="my-5">Add New Location</h1>

            <form method="POST" action="/projects/<%= projectId %>/locations/new" class="needs-validation" novalidate>

                <div class="card w-100">
                    <div class="card-body" id="region-info">

                        <div class="form-box">
                            <label for="location[name]">Name</label>
                            <input class="form-control" type="text" id="location[name]" name="location[name]" required>
                        </div>

                        <div class="form-box">
                            <label for="location[code]">Code</label>
                            <input class="form-control" type="text" id="location[code]" name="location[code]" required>
                        </div>

                        <div class="form-box">
                            <label for="location[coll]">Collection that the location belongs to</label>
                            <select class="form-control" id="location[coll]" name="location[coll]" required>
                                <option disabled selected value="">Select Collection</option>
                                <% for (let collection of collections) { %>
                                    <option value="<%= collection._id %>">
                                        <%= collection.name %>
                                    </option>
                                <% } %>
                            </select>
                        </div>

                        <div class="form-box">
                            <p> Location</p>
                            <div id="map-nl" class="w-100" style="height: 250px;"></div>
                            <input class="form-control muted-text" type="hidden" id="location[lat]" name="location[lat]"
                                required>
                            <input class="form-control muted-text" type="hidden" id="location[lng]" name="location[lng]"
                                required>
                        </div>

                        <div class="form-box">
                            <label for="location[quickInfo]">Short note that will appear on mouse hover</label>
                            <textarea class="form-control" id="location[quickInfo]" name="location[quickInfo]"></textarea>
                        </div>

                        <div class="form-box">
                            <label for="location[General Information]">General Information</label>
                            <div id="location[General Information]"></div>
                        </div>

                    </div>
                </div>

                <div class="mt-3">
                    <button type="submit" class="btn btn-outline-secondary w-100">Submit</button>
                </div>
            </form>

        </div>
    </div>


    <script>
        // DOM
        const genInfoRootHtml = document.getElementById('location[General Information]');
        const latInpt = document.getElementById('location[lat]');
        const lngInpt = document.getElementById('location[lng]');

        const collectionSelect = document.getElementById('location[coll]');
        const collectionOpts = collectionSelect.getElementsByTagName('option');

        // DB        
        const collectionsJSON = '<%- JSON.stringify(collections) %>';
        //const locationsJSON = '<%- JSON.stringify(locations) %>';
        const projectJSON = '<%- JSON.stringify(project) %>';

        //const locations = JSON.parse(locationsJSON);
        const collections = JSON.parse(collectionsJSON);
        const project = JSON.parse(projectJSON);

        // text
        // collection names have already been set, but might not be htmlified correctly
        // recall: collectionOpts[0].innerHTML is 'Select Collection'
        for (let i = 0; i < collections.length; i++) {
            collectionOpts[i+1].innerHTML = jsonHtmlify(collections[i].name);
        }
        showGenInfoInitForEdit(genInfoRootHtml);

        // map
        const mapBoxToken = '<%= process.env.MAPBOX_TOKEN %>';
        mapboxgl.accessToken = mapBoxToken;

        const mu = new MapUtils('map-nl', project);
        mu.populateMapWithLocationsOnEvent(collections, 'load');
        mu.addNewMarkerToMapOnEvent('click');
        mu.addNewMarkerCoordinatesToFormOnEvent(latInpt, lngInpt, 'click');
        mu.removeLastMarkerOnKey('Escape');
    </script>