<% layout('layout/boilerplate.ejs') %>

    <div class="row">
        <div class="col-xl-8 offset-xl-2">

            <h1 class="my-5">Edit Location</h1>

            <form method="POST" action="/projects/<%= projectId %>/cities/<%= selected._id %>/edit" class="needs-validation" novalidate>

                <div class="card w-100">
                    <div class="card-body" id="region-info">

                        <div class="form-box">
                            <label for="city[name]">Name</label>
                            <input class="form-control" type="text" 
                                id="city[name]" name="city[name]" 
                                value="<%= selected.name %>" required>
                        </div>

                        <div class="form-box">
                            <label for="city[code]">Code</label>
                            <input class="form-control" type="text" 
                                id="city[code]" name="city[code]" 
                                value="<%= selected.code %>" required>
                        </div>

                        <div class="form-box">
                            <label for="city[area]">Collection that the location belongs to</label>
                            <select class="form-control" id="city[area]" name="city[area]" required>
                                <option disabled value="">Select Collection</option>
                                <% for (let area of areas) { %>
                                    <% if (area._id.toString() === selected.area.toString()) { %>
                                        <option selected value="<%= area._id %>">
                                            <%= area.name %>
                                        </option>
                                    <% } else { %>
                                        <option value="<%= area._id %>">
                                            <%= area.name %>
                                        </option>
                                    <% } %>
                                <% } %>
                            </select>
                        </div>

                        <div class="form-box">
                            <p>Location</p>
                            <div id="map-nl" class="w-100" style="height: 250px;"></div>
                            <input class="form-control muted-text" type="hidden" 
                                id="city[lat]" name="city[lat]" value="<%= selected.geometry.coordinates[1]%>"
                                required>
                            <input class="form-control muted-text" type="hidden" 
                                id="city[lng]" name="city[lng]" value="<%= selected.geometry.coordinates[0]%>"
                                required>
                        </div>

                        <div class="form-box">
                            <label for="city[quickInfo]">Short note that will appear on mouse hover</label>
                            <textarea class="form-control" id="city[quickInfo]" name="city[quickInfo]"
                                ><%= selected.quickInfo %></textarea>
                        </div>

                        <div class="form-box">
                            <label for="city[General Information]">General Information</label>
                            <div id="city[General Information]"></div>
                        </div>

                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-2">
                        <a class="btn btn-outline-secondary" href="/projects/<%= projectId %>">Cancel</a>
                    </div>
                    <div class="col-6 offset-1 col-sm-8 offset-sm-0">
                        <button type="submit" class="btn btn-outline-secondary w-100">Submit</button>
                    </div>
                </div>

            </form>

            <form method="POST" action="/projects/<%= projectId %>/cities/<%= selected._id %>/delete?_method=DELETE" 
                id="misplaced-delete-form">
                <button type="submit" class="btn btn-outline-danger">Delete</button>
            </form>

        </div>
    </div>


    <script>
        // DOM
        const nameHtml = document.getElementById('city[name]');
        const codeHtml = document.getElementById('city[code]');
        const quickInfoHtml = document.getElementById('city[quickInfo]');
        const genInfoRootHtml = document.getElementById('city[General Information]');

        const latInpt = document.getElementById('city[lat]');
        const lngInpt = document.getElementById('city[lng]');
        
        const areaSelect = document.getElementById('city[area]');
        const areaOpts = areaSelect.getElementsByTagName('option');

        // DB
        const selectedJSON = '<%- JSON.stringify(selected) %>';  
        const citiesJSON = '<%- JSON.stringify(cities) %>';      
        const areasJSON = '<%- JSON.stringify(areas) %>';
        const projectJSON = '<%- JSON.stringify(project) %>';

        const selected = JSON.parse(selectedJSON);
        const cities = JSON.parse(citiesJSON);
        const areas = JSON.parse(areasJSON);
        const project = JSON.parse(projectJSON);

        // text
        // unescape (textify) db entry for <input type="text"> elements;
        nameHtml.value = jsonTextify(selected.name);
        codeHtml.value = jsonTextify(selected.code);
        // set db entries as .innerHTML for <textarea> elements;
        quickInfoHtml.innerHTML = selected.quickInfo;        
        // area names have already been set, but might not be htmlified correctly
        // recall: areaOpts[0].innerHTML is 'Select Area'
        for (let i = 0; i < areas.length; i++) {
            areaOpts[i+1].innerHTML = jsonHtmlify(areas[i].name);
        }
        // 'General Information' is handled separately
        //showGenInfoInit(genInfoRootHtml);
        showGenInfoInitForEdit(selected['General Information'], genInfoRootHtml);

        // map
        const mapBoxToken = '<%= process.env.MAPBOX_TOKEN %>';
        mapboxgl.accessToken = mapBoxToken;

        const mu = new MapUtils('map-nl', project);
        mu.populateMapWithCitiesOnEvent(areas, 'load');

        mu.removeCityFromSourcesOnEvent(selected, 'load'); // instead of a circle we'll add movabel marker
        mu.addMarkerAtLngLatToMapOnEvent(selected.geometry.coordinates, 'load');

        mu.addNewMarkerToMapOnEvent('click');
        mu.addNewMarkerCoordinatesToFormOnEvent(latInpt, lngInpt, 'click');
        mu.removeLastMarkerOnKey('Escape');

    </script>