<% layout('layout/boilerplate.ejs') %>

    <div class="row">
        <div class="col-xl-8 offset-xl-2">

            <h1 class="my-5">Edit City</h1>

            <form method="POST" action="/cities/<%= selected._id %>/edit" class="needs-validation" novalidate>

                <div class="card w-100">
                    <div class="card-body" id="region-info">

                        <div class="form-box">
                            <label for="city[name]">City Name</label>
                            <input class="form-control" type="text" 
                                id="city[name]" name="city[name]" value="<%= selected.name %>" required>
                        </div>

                        <div class="form-box">
                            <label for="city[code]">City Code</label>
                            <input class="form-control" type="text" 
                                id="city[code]" name="city[code]" value="<%= selected.code %>" required>
                        </div>

                        <div class="form-box">
                            <label for="city[area]">Area that the city belongs to</label>
                            <select class="form-control" id="city[area]" name="city[area]" required>
                                <option disabled value="">Select Area</option>
                                <% for (let area of areas) { %>
                                    <% if (area._id.toString() === selected.area.toString()) { %>
                                        <option selected value="<%= area.name %>">
                                            <%= area.name %>
                                        </option>
                                    <% } else { %>
                                        <option value="<%= area.name %>">
                                            <%= area.name %>
                                        </option>
                                    <% } %>
                                <% } %>
                            </select>
                        </div>

                        <div class="form-box">
                            <p>City Location</p>
                            <div id="map-nl" class="w-100" style="height: 250px;"></div>
                            <input class="form-control muted-text" type="hidden" 
                                id="city[lat]" name="city[lat]" value="<%= selected.geometry.coordinates[1]%>"
                                required>
                            <input class="form-control muted-text" type="hidden" 
                                id="city[lng]" name="city[lng]" value="<%= selected.geometry.coordinates[0]%>"
                                required>
                        </div>

                        <div class="form-box">
                            <label for="city[quickInfo]">Short note that will appear on mouse hover</label>
                            <textarea class="form-control" id="city[quickInfo]" name="city[quickInfo]"
                                ><%= selected.quickInfo
                                    .replaceAll('\\n', '\n')
                                    .replaceAll('\\r', '')
                                    .replaceAll('\\t', '\t')
                                    .replaceAll('\\"', '\"') %></textarea>
                        </div>

                        <div class="form-box">
                            <label for="city[General Information]">General Information</label>
                            <div id="city[General Information]"></div>
                        </div>

                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-2">
                        <a class="btn btn-outline-secondary" href="/">Cancel</a>
                    </div>
                    <div class="col-6 offset-1 col-sm-8 offset-sm-0">
                        <button type="submit" class="btn btn-outline-secondary w-100">Submit</button>
                    </div>
                </div>

            </form>

            <form method="POST" action="/cities/<%= selected._id %>/delete?_method=DELETE" 
                id="misplaced-delete-form">
                <button type="submit" class="btn btn-outline-danger">Delete</button>
            </form>

        </div>
    </div>


    <script>
        const genInfoRootHtml = document.getElementById('city[General Information]');
        
        const mapBoxToken = '<%= process.env.MAPBOX_TOKEN %>';
        const selectedJSON = '<%- JSON.stringify(selected) %>';  
        const citiesJSON = '<%- JSON.stringify(cities) %>';      
        const areasJSON = '<%- JSON.stringify(areas) %>';
    </script>
    <script src="/js/jsonUtils.js"></script>
    <script src="/js/mapSetup.js"></script>
    <script src="/js/mapEditCity.js"></script>
    <script src="/js/textUtils.js"></script>
    <script src="/js/btnUtils.js"></script>
    <script src="/js/editInfoUtils.js"></script>
    <script src="/js/editInfo.js"></script>