<% layout('layout/boilerplate.ejs') %>

    <div class="row">
        <div class="col-xl-8 offset-xl-2">

            <h1 class="my-5">Add New City</h1>

            <form method="POST" action="/projects/<%= projectId %>/cities/new" class="needs-validation" novalidate>

                <div class="card w-100">
                    <div class="card-body" id="region-info">

                        <div class="form-box">
                            <label for="city[name]">City Name</label>
                            <input class="form-control" type="text" id="city[name]" name="city[name]" required>
                        </div>

                        <div class="form-box">
                            <label for="city[code]">City Code</label>
                            <input class="form-control" type="text" id="city[code]" name="city[code]" required>
                        </div>

                        <div class="form-box">
                            <label for="city[area]">Area that the city belongs to</label>
                            <select class="form-control" id="city[area]" name="city[area]" required>
                                <option disabled selected value="">Select Area</option>
                                <% for (let area of areas) { %>
                                    <option value="<%= area.name %>">
                                        <%= area.name %>
                                    </option>
                                <% } %>
                            </select>
                        </div>

                        <div class="form-box">
                            <p>City Location</p>
                            <div id="map-nl" class="w-100" style="height: 250px;"></div>
                            <input class="form-control muted-text" type="hidden" id="city[lat]" name="city[lat]"
                                required>
                            <input class="form-control muted-text" type="hidden" id="city[lng]" name="city[lng]"
                                required>
                        </div>

                        <div class="form-box">
                            <label for="city[quickInfo]">Short note that will appear on mouse hover</label>
                            <textarea class="form-control" id="city[quickInfo]" name="city[quickInfo]"></textarea>
                        </div>

                        <div class="form-box">
                            <label for="city[generalInfo]">General Information</label>
                            <div id="city[generalInfo]"></div>
                        </div>

                    </div>
                </div>

                <div class="mt-3">
                    <button type="submit" class="btn btn-outline-secondary w-100">Submit</button>
                </div>
            </form>

        </div>
    </div>


    <script>
        const genInfoRootHtml = document.getElementById('city[generalInfo]');

        const mapBoxToken = '<%= process.env.MAPBOX_TOKEN %>';
        const areasJSON = '<%- JSON.stringify(areas) %>';
        const citiesJSON = '<%- JSON.stringify(cities) %>';
        const projectJSON = '<%- JSON.stringify(project) %>';

        const cities = JSON.parse(citiesJSON);
        const areas = JSON.parse(areasJSON);
        const project = JSON.parse(projectJSON);

        const projectId = '<%= projectId %>';
    </script>
    <!-- <script src="/js/jsonUtils.js"></script> -->
    <script src="/js/mapSetup.js"></script>
    <script src="/js/mapNewCity.js"></script>
    <script src="/js/textUtils.js"></script>
    <script src="/js/btnUtils.js"></script>
    <script src="/js/addInfo.js"></script>