<% layout('layout/boilerplate.ejs') %>

<h1>Konichiwa, Gentlemen!</h1>

<div class="row">

    <div class="col-xl-4 offset-0 pt-5">
        <div id="map-nl" class="w-100" style="height: 500px;"></div>
    </div>

    <div class="col-xl-8 pt-5">
        <div class="card w-100">
            <h1 id="region-name" class="card-title m-4"><%= selected.code %></h1>
            <div class="card-body" id="region-info"></div>
        </div>
    </div>

</div>


<script>
    const regionNameHtml = document.querySelector('#region-name');
    const regionInfoHtml = document.querySelector('#region-info');

    const mapBoxToken = '<%= process.env.MAPBOX_TOKEN %>';
    const selectedJSON = '<%- JSON.stringify(selected) %>';
    const areasJSON = '<%- JSON.stringify(areas) %>';
    const citiesJSON = '<%- JSON.stringify(cities) %>';

    const cities = JSON.parse(citiesJSON);
    const areas = JSON.parse(areasJSON);
</script>
<!-- <script src="/js/jsonUtils.js"></script> -->
<script src="/js/mapSetup.js"></script>
<script src="/js/mapGetInfo.js"></script>
<script src="/js/showInfoUtils.js"></script>
<script src="/js/showInfo.js"></script>