<% layout('layout/boilerplate.ejs') %>

<h1>Konichiwa, Gentlemen!</h1>

<div class="row">

    <div class="col-xl-4 offset-0 pt-5">
        <div id="map-nl" class="w-100" style="height: 500px;"></div>
    </div>

    <div class="col-xl-8 pt-5">
        <div class="card w-100">
            <h1 id="region-name" class="d-flex justify-content-between m-4">
                <%= selected.code %>
            </h1>
            <div class="card-body" id="region-info"></div>
        </div>
    </div>

</div>


<script>
    const regionNameHtml = document.querySelector('#region-name');
    const regionInfoHtml = document.querySelector('#region-info');

    const selectedJSON = '<%- JSON.stringify(selected) %>';
    const collectionsJSON = '<%- JSON.stringify(collections) %>';
    //const locationsJSON = '<%- JSON.stringify(locations) %>';
    const projectJSON = '<%- JSON.stringify(project) %>';

    const selected = JSON.parse(selectedJSON);
    //const locations = JSON.parse(locationsJSON);
    const collections = JSON.parse(collectionsJSON);
    const project = JSON.parse(projectJSON);

    const username = '<%= username %>';
    const projectId = '<%= projectId %>';

    // add selected to DOM
    addDataToDOM(selected, regionNameHtml, regionInfoHtml);

    // map
    const mapBoxToken = '<%= process.env.MAPBOX_TOKEN %>';
    mapboxgl.accessToken = mapBoxToken;

    const mu = new MapUtils('map-nl', project);
    mu.populateMapWithCitiesOnEvent(collections, 'load');
    mu.addCityInfoToDOMOnEvent(collections, regionNameHtml, regionInfoHtml, 'click');
</script>