<% layout('layout/boilerplate.ejs') %>

    <div class="row">
        <div class="col-xl-8 offset-xl-2">

            <h1 class="my-5">Edit Area</h1>

            <form method="POST" action="/areas/<%= selected._id %>/edit" class="needs-validation" novalidate>

                <div class="card w-100">
                    <div class="card-body" id="region-info">

                        <div class="form-box">
                            <label for="area[name]">Area Name</label>
                            <input class="form-control" type="text" 
                                id="area[name]" name="area[name]" value="<%= selected.name %>" required>
                        </div>

                        <div class="row">
                            <div class="col-sm-9">
                                <div class="form-box">
                                    <label for="area[code]">Area Code</label>
                                    <input class="form-control" type="text" 
                                        id="area[code]" name="area[code]" value="<%= selected.code %>" required>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-box">
                                    <label for="area[color]">Area Color</label> 
                                    <input type="color" class="form-control"
                                        id="area[color]" name="area[color]" value="<%= selected.color %>" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-box">
                            <label for="area[quickInfo]">Short note that will appear on mouse hover</label>
                            <textarea class="form-control" id="area[quickInfo]" name="area[quickInfo]"
                                ><%= selected.quickInfo
                                .replaceAll('\\n', '\n')
                                .replaceAll('\\r', '')
                                .replaceAll('\\t', '\t')
                                .replaceAll('\\"', '\"') %></textarea>
                        </div>

                        <div class="form-box">
                            <label for="area[General Information]">General Information</label>
                            <div id="area[General Information]"></div>
                        </div>

                    </div>
                </div>

                <div class="row mt-3 mx-2">
                    <div class="col-2">
                        <a class="btn btn-outline-secondary" href="/">Cancel</a>
                    </div>
                    <div class="col-6 offset-1 col-sm-8 offset-sm-0">
                        <button type="submit" class="btn btn-outline-secondary w-100">Submit</button>
                    </div>
                </div>

            </form>

            <form method="POST" action="/areas/<%= selected._id %>/delete?_method=DELETE" 
                class="mx-2" id="misplaced-delete-form">
                <button type="submit" class="btn btn-outline-danger">Delete</button>
            </form>

        </div>
    </div>


    <script>
        const genInfoRootHtml = document.getElementById('area[General Information]');

        const mapBoxToken = '<%= process.env.MAPBOX_TOKEN %>';
        const selectedJSON = '<%- JSON.stringify(selected) %>';  
        const citiesJSON = '<%- JSON.stringify(cities) %>';      
        const areasJSON = '<%- JSON.stringify(areas) %>';
    </script>
    <script src="/js/jsonUtils.js"></script>
    <script src="/js/textUtils.js"></script>
    <script src="/js/btnUtils.js"></script>
    <script src="/js/editInfoUtils.js"></script>
    <script src="/js/editInfo.js"></script>