<% layout('layout/boilerplate.ejs') %>

<div class="d-flex justify-content-between">
    <h1 id="project-name" class="d-inline"><%= project.name %></h1>
    <form action="/projects/<%= project._id %>/delete?_method=DELETE" method="POST"
        onsubmit="return confirm('Are you sure you want to delete <%= project.name %>?')">
        <div class="btn-group" role="group">
            <a class="btn btn-outline-secondary" href="/projects/<%= project._id %>/edit">Edit</a>
            <button type="submit" class="btn btn-outline-secondary">Del</button>
        </div>
    </form>
</div>

<p class="text-muted my-2"><%= project.token %></p>

<details>
    <summary>Description</summary>
    <p id="project-description" class="my-2"><%= project.description %></p>
</details>

<div class="row">

    <div class="col-xl-4 offset-0 pt-5">
        <div id="map-nl" class="w-100" style="height: 480px;"></div>
    </div>

    <div class="col-xl-8 pt-5">
        <div class="card w-100">
            <!--
                by default display label `Collections`;
                this will be overwritten by Location/Collection name + buttons
                by `addDataToDOM(selected, ..., ...)`
                when collection link is clicked on the list or 
                location marker is clicked on the map
            -->
            <h1 id="region-name" class="d-flex justify-content-between m-4">
                <%= selected === undefined ? 'Collections' : selected.name %>
            </h1>

            <!-- 
                by default show all collection links;
                this will be overwritten with detailed Location/Collection info
                by `addDataToDOM(selected, ..., ...)`
                when collection link is clicked on the list or 
                location marker is clicked on the map
            -->
            <div class="card-body" id="region-info">
                <ul class="list-group list-group-flush">
                    <% for (let collection of collections) { %>
                        <li class="list-group-item">
                            <a href="#">
                                <h3 id="<%= collection._id %>"><%= collection.name %></h3>
                            </a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    const regionNameHtml = document.getElementById('region-name'); // needed for showInfo.js
    const regionInfoHtml = document.getElementById('region-info'); // needed for showInfo.js
    const h3s = regionInfoHtml.getElementsByTagName('h3');

    const projectNameHtml = document.getElementById('project-name');
    const projectDescrHtml = document.getElementById('project-description');
    
    const mapBoxToken = '<%= process.env.MAPBOX_TOKEN %>';
    const username = '<%= username %>'; // needed for btnUtils.js
    const projectId = '<%= projectId %>'; // needed for postData

    // collections array should be populated with locations on server side!
    const selectedJSON = '<%- JSON.stringify(selected) %>';
    const collectionsJSON = '<%- JSON.stringify(collections) %>';
    const projectJSON = '<%- JSON.stringify(project) %>';
    
    const collections = JSON.parse(collectionsJSON); // needed for map
    const project = JSON.parse(projectJSON);

    // name and description are already set, but might not be htmlified correctly
    projectNameHtml.innerHTML = jsonHtmlify(project.name);
    projectDescrHtml.innerHTML = jsonHtmlify(project.description);
    for (i = 0; i < h3s.length; i++) {
        h3s[i].innerHTML = jsonHtmlify(collections[i].name);
    }

    mapboxgl.accessToken = mapBoxToken;
    const mu = new MapUtils('map-nl', project);
    mu.populateMapWithLocationsOnEvent(collections, 'load');

    // add location info on map click
    mu.addLocationDataToDOMOnEvent(collections, regionNameHtml, regionInfoHtml, 'click');

    // add collection info on link click
    for (i = 0; i < h3s.length; i++) {
        h3s[i].addEventListener('click', function (evt) {
            const selected = collections.filter(collection => collection._id === this.id)[0];
            addDataToDOM(selected, regionNameHtml, regionInfoHtml);
        })
    }

    // add collection info if path is `/projects/<projectId>/?collectionId=<collectionId>`    
    if (selectedJSON) {
        const selected = JSON.parse(selectedJSON);
        addDataToDOM(selected, regionNameHtml, regionInfoHtml);
    }
</script>